.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.Grid {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 30rem;
  width: 30rem;
  margin: 1rem;
}